{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<section style="background-color: rgb(247, 241, 241); padding-top: 10px; padding-bottom: 20px;">
    <div class="container w-100 h-100">
        <div class="card shadow" style="margin: auth; ">
            <div class="card-body">
                <h3 class="mb-4 f-5 text-center">Contact Us</h3>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="contact-wrap w-100 p-md-5 p-2">
                            <form method="POST">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="name">Full Name</label>
                                            <input type="text" class="form-control" name="full_name" id="name"
                                                placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="email">Email Address</label>
                                            <input type="email" class="form-control" name="email" id="email"
                                                placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="phone">Mobile Number</label>
                                            <input type="tel" class="form-control" name="phone" id="phone"
                                                placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="subject">Subject</label>
                                            <input type="text" class="form-control" name="subject" id="subject"
                                                placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="#">Message</label>
                                            <textarea name="message" class="form-control" id="message" cols="30"
                                                rows="4" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" value="Send Message" class="btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <ul style="list-style:disc; align-items: center;" class="mt-md-5">
                            <li class="m-2">WhatsApp: +234 8163351109 </li>
                            <li class="m-2">Instagram: <a
                                    href="https://www.instagram.com/fashiona_collections/">@fashiona_collections</a>
                            </li>
                            <li class="m-2">Facebook: <a
                                    href="https://facebook.com/Fashiona-Collections-100349605810321/">fashiona_collections</a>
                            </li>
                            <li class="m-2">Mobile: +2348163351109</li>
                            <li class="m-2">Address: Yantifa R/Lemo, Kano state, Nigeria. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}