{% extends 'home/base.html'%}
{% load static%}
{% block content %}
<div class="card py-3  mx-0 my-4">
    <div class="card-body row">
        <div class="col-8" id="summary">
            <strong>Total Quantity:</strong>
            <span class="float-right px-5">8</span>
            <hr>
            <strong>No. of Items:</strong>
            <span class="float-right px-5">4</span>
            <hr>
            <strong>Total Price:</strong>
            <span class="float-right px-5">N200</span>
        </div>
        <div class="col-4" id="actions">
            <a class="btn btn-success float-right" style="width: 150px;" href="/payment">Checkout</a>
            <br>
            <br>
            <a class="btn btn-danger float-right" style="width: 150px;" href="#">Clear All</a>
            <br>
            <br>
            <a class="btn btn-primary float-right" style="width: 150px;" href="#">Keep Shopping</a>
        </div>
    </div>
</div>
<header>
    <h5
        style="width: 100%; background-color: blueviolet; padding: 10px; color: white; font-weight: 700; font-size: 22.0px;">
        Your Items
    </h5>
</header>
<div id="cart-items">

    {% for item in cart_items %}
    <div id="product-card" style="border-width: 3px;">
        <a href="#"><img src="{% static 'products/images/tailor.jpg' %}" height="70%" alt="" /></a>
        <div class="text-uppercase fw-3"><span class="text-dark text-capitalize">Name:
            </span>Item Name
        </div>
        <div class="text-danger">
            <span class="text-dark text-capitalize">price: </span> N50
        </div>
        <div class="text-danger">
            <span class="text-dark"> Available Quantity:</span>
        </div>
        <p><span>Quantity Sold: </span> 200</p>
        <div class="row">
            <div class="col-6"><a href="#" class="btn btn-danger">Remove</a></div>
            <div class="col-6"><a href="#" class="btn btn-primary">Later</a></div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}