{% extends 'home/base.html'%}
{% load static%}
{% block content %}
<div style="width: 100%;" class="card py-3  mx-0 my-4">
    <div class="card-body row">
        <div class="col-8" id="summary">
            <strong>Total Quantity:</strong>
            <span class="float-right px-3">{{total_quantity}}</span>
            <hr>
            <strong>No. of Items:</strong>
            <span class="float-right px-3">{{number_of_items}}</span>
            <hr>
            <strong>Total Price:</strong>
            <span class="float-right px-53">N{{total_price}}</span>
        </div>
        <div class="col-4 text-right" id="actions">
            <a class="btn btn-success" style="width: 110px;" href="/payment">Checkout</a>
            <br>
            <br>
            <a class="btn btn-danger" style="width: 110px;" href="/cart/clear">Clear All</a>
            <br>
            <br>
            <a class="btn btn-primary" style="width: 110px;" href="/products">More Items</a>
        </div>
    </div>
</div>
<header>
    <h5
        style="width: 100%; background-color: blueviolet; padding: 10px; color: white; font-weight: 700; font-size: 22.0px;">
        Your Items
    </h5>
</header>
<div id="cart-items">

    {% for item in cart_items %}
    <div id="product-card" style="border-width: 3px; width: 200px;">
        <a href="#"><img src="{{item.item.image.url}}" style="width: 100%; height: 250px;" alt="" /></a>
        <div class="text-uppercase fw-3"><span class="text-dark text-capitalize">Name:
            </span>{{item.item.name}}
        </div>
        <div class="text-danger">
            <span class="text-dark text-capitalize">price: </span> N{{item.item.price}}
        </div>
        <div class="text-dark">
            <span class="text-dark text-capitalize">Size: </span> {{item.size}}
        </div>
        <div class="text-dark">
            <span class="text-dark text-capitalize">quantity: </span> {{item.quantity}}
        </div>
        <div class="text-danger">
            <span class="text-dark"> Available: {{item.item.available_quantity}}</span>
        </div>
        <p><span>Sold: </span> {{item.item.quantity_sold}}</p>
        <a style="width: 100%;" href="/cart/remove?id={{item.id}}" class="btn btn-danger">Remove</a>
    </div>
    {% endfor %}
</div>
{% endblock %}