asgiref
boto3
botocore
certifi
charset-normalizer
dj-database-url
Django
django-heroku
django-storages
djangorestframework
gunicorn
idna
packaging
psycopg2-binary
python-dateutil
pillow
pytz
requests
s3transfer
six
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
