{% extends 'base/base.html' %}
{% block title %}
Create Seller Profile
{% endblock %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="py-5 container my-5">
    {% for message in messages %}
    <div class="container-fluid p-0">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    <form action="{% url 'create_new_store' %}" method="post">
        {% csrf_token %}
        <h1 class="text-center text-uppercase h1 mb-3" style="color: purple; font-weight: 700;">Create A New Store</h1>
        <div class="form-row">
            <div class="col-12 ">
                <h5 class="text-uppercase fw-bold" style="color: purple;">Store Information</h5>
            </div>
            <div class="col-12 my-1">
                <div class="form-floating">
                    <input type="tel" class="form-control rounded" value="{{store.business_name}}" id="business_name"
                        name="business_name" placeholder="name">
                    <label for="business_name">Registered Business Name <span class="text-danger">*</span></label>
                </div>
            </div>
            <div class="row">
                <div class="col-6 my-1">
                    <div class="form-floating">
                        <textarea class="form-control rounded" id="business_address" name="business_address"
                            placeholder="Address...">{{store.business_address}}</textarea>
                        <label for="business_address">Registered Business Address <span
                                class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-6 my-1">
                    <div class="form-floating">
                        <select id="country" class="form-control" name="country" id="country">
                            <option selected value="NIG">Nigeria</option>
                        </select>
                        <label for="country">Country <span class="text-danger">*</span></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 my-1">
                    <div class="form-floating">
                        <input type="email" value="{{store.email}}" class="form-control rounded" id="email" name="email"
                            placeholder="name">
                        <label for="email">Email <span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-6 my-1">
                    <div class="form-floating">
                        <input type="email" value="{{store.alternate_email}}" class="form-control rounded"
                            id="alternate_email" name="alternate_email" placeholder="name">
                        <label for="alternate_email">Alternate Email </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 my-1">
                    <div class="form-floating">
                        <input type="tel" value="{{store.phone_number}}" class="form-control rounded" id="phone_number"
                            name="phone_number" placeholder="name">
                        <label for="phone_number">Phone Number <span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-6 my-1">
                    <div class="form-floating">
                        <input type="tel" class="form-control rounded" value="{{store.alternate_phone_number}}"
                            id="alternate_phone_number" name="alternate_phone_number" placeholder="name">
                        <label for="alternate_phone_number">Alternate Phone Number </label>
                    </div>
                </div>
            </div>
            <div class="col-12 my-1">
                <div class="form-floating">
                    <textarea type="tel" class="form-control rounded" id="about" name="about"
                        placeholder="About your business">{{store.about}}</textarea>
                    <label for="about">About <span class="text-danger">*</span></label>
                </div>
            </div>
            <div class="col-12 my-1">
                <div class="form-floating">
                    <input type="file" accept="image/*" class="form-control rounded" id="profile_picture"
                        name="profile_picture" placeholder="profile_picture your business" />
                    <label for="profile_picture">Profile Picture </label>
                </div>
            </div>
            <hr />
            <div class="col-10 mt-3">
                <h5 class="text-uppercase fw-bold " style="color: purple;">Business Registration
                    Information
                </h5>
            </div>
            <div class="row">
                <div class="col-12 my-1">
                    <div class="form-check form-switch">
                        <input class="form-check-input" {% if store.is_registered %} checked {%endif%} type="checkbox"
                            value="" id="is_registred" name="is_registered  ">
                        <label class="form-check-label" for="is_registred">
                            Business is registered
                        </label>
                    </div>
                </div>
                <div class="col-6 my-1">
                    <div class="form-floating">
                        <input type="text" class="form-control rounded" value="{{store.tin}}" id="tin" name="tin"
                            placeholder="name">
                        <label for="tin">Tax Identification Number <span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-6 my-1">
                    <div class="form-floating">
                        <input type="text" class="form-control rounded" value="{{store.rc_number}}" id="rc_number"
                            name="rc_number">
                        <label for="rc_number">RC Number <span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-12 my-1">
                    <div class="form-floating">
                        <input type="file" class="form-control rounded" id="registration_certificate"
                            name="registration_certificate">
                        <label for="registration_certificate">Registration certificate </label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="col-10 mt-3">
                <h5 class="text-uppercase fw-bold" style="color: purple;">Banking Information
                </h5>
            </div>
            <div class="row">
                <div class="col-6 my-1">
                    <div class="form-floating">
                        <input type="text" value="{{store.bank_name}}" class="form-control rounded" id="bank_name"
                            name="bank_name" placeholder="name">
                        <label for="bank_name">Bank Name <span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-6 my-1">
                    <div class="form-floating">
                        <input type="text" value="{{store.account_number}}" class="form-control rounded"
                            id="account_number" name="account_number" placeholder="name">
                        <label for="account_number">Account Number <span class="text-danger">*</span></label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-6 my-1">
                    <div class="form-floating">
                        <input type="text" value="{{store.account_name}}" class="form-control rounded" id="account_name"
                            name="account_name" placeholder="name">
                        <label for="account_name">Account Name <span class="text-danger">*</span></label>
                    </div>
                </div>
                <div class="col-6 my-1">
                    <div class="form-floating">
                        <input type="text" value="{{store.bvn}}" class="form-control rounded" id="bvn" name="bvn"
                            placeholder="name">
                        <label for="bvn">Bank Verification number (BVN) <span class="text-danger">*</span></label>
                    </div>
                </div>
            </div>
            <hr />
        </div>

        <button class="w-100 my-2 btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}