{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="form-signin">
    <form>
        <h1 style="padding-top: 30px;" class="h2 mb-3 text-center fw-small">Reset Password</h1>

        <div class="form-floating">
            <label for="floatingPassword">Email</label>
            <input type="email" class="form-control" id="floatingPassword" placeholder="Enter Your Email Address">

        </div>

        <br>
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
        <br>
        <br>
        <p class="text-right">
            <a class="text-right" href="/user/login">Login to your account</a>
        </p>
    </form>
</div>
{%endblock%}