{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="form-signin">
    <form>
        <h1 style="padding-top: 30px;" class="h2 mb-3 text-center fw-small">Create Account</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="username">
            <label for="floatingInput">username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <br>
        <br>
        <p class="text-right">
            <a class="text-right" href="/user/login">Already have an account?</a>
        </p>
    </form>
</div>
{%endblock%}