{% extends 'home/base.html'%}
{% load static%}
{% block content %}
<div class="container">
    <h5
    style="width: 100%; background-color: blueviolet; padding: 10px; color: white; font-weight: 700; font-size: 22.0px;">
    Items You Ordered
</h5>

<div style="width: 100%; overflow-x: auto;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Size</th>


            </tr>
        </thead>
        <tbody>

            {% for item in items %}
            <tr>
                <td>{{item.item}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.size}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}