{% extends 'home/base.html'%}
{% load static%}
{% block content %}
<h5
    style="width: 100%; background-color: blueviolet; padding: 10px; color: white; font-weight: 700; font-size: 22.0px;">
    Items You Ordered
</h5>

<div style="width: 100%; overflow-x: auto;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>

            {% for item in order_items %}
            <tr>
                <td>item {{item}}</td>
                <td>4</td>
                <td>7,000</td>
                <td>12/02/2021</td>
                <td>processing</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}