{% extends 'base/base.html'%} {% load static%} {% load humanize %} {% block content %}
<section class="container mt-5">
  {% for order in orders %}
  <div class="row p-2"
    style="width: 100%; background-color: rgb(248, 134, 233); padding: 10px; color: white; font-weight: 700; font-size: 22.0px;">
    <small class="col-4">
      Order ID: {% if order.tracking_id %} {{order.tracking_id}} {% endif %}
    </small>
    <small class="col-4">
      {{order.date_added|naturaltime}}
    </small>
    <small class="col-4 text-end">{{order.get_status_display}}</small>
  </div>
  <div style="width: 100%; overflow-x: auto;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product Names</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Amount</th>
          <th scope="col">Delivery Date</th>
        </tr>
      </thead>
      <tbody>
        {% for item in order.order_items.all %}
        <tr>
          <td>
            {{item.product.name}}
          </td>
          <td>
            {{item.product.price}}
          </td>
          <td>
            {{item.quantity}}
          </td>
          <td>
            {{order.total_amount}}
          </td>
          <td>
            {% if order.delivery_date %}
            {{order.delivery_date}}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</section>
{% endblock %}