{% extends 'home/base.html'%}
{% load static%}
{% block content %}
<h5
    style="width: 100%; background-color: blueviolet; padding: 10px; color: white; font-weight: 700; font-size: 22.0px;">
    Items You Ordered
</h5>

<div style="width: 100%; overflow-x: auto;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Discount</th>
                <th scope="col">Amount</th>
                <th scope="col">Date Ordered</th>
                <th scope="col">Arrival on</th>
                <th scope="col">Status</th>

            </tr>
        </thead>
        <tbody>

            {% for item in order_items %}
            <tr>
                <td>{{item.product}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.product.price}}</td>
                <td>{{item.discount}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.date_added}}</td>
                <td>{{item.delivery_date}}</td>
                <td>{{item.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}