{% extends './base.html' %} {% load static %} {% block title%} Home {% endblock%} {% block content %}

<!-- hero section -->
<section class="text-center pt-3" style="background-color: rgb(255, 218, 250);">
  <div class="row" style="align-items: center; justify-content: center;">
    <div class="col-sm-12 col-md-6 col-lg-6 text-lg-end text-sm-center text-md-end p-5">
      <div class="row">
        <p class="text-uppercase" style="color: blackpink; font-weight: 700;">
          Clothing and Apparels
        </p>
      </div>
      <div class="row">
        <h2 class="text-uppercase"
          style="color: brown; font-weight:700; font-size: 3rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">
          Best Quality Clothing and aparels
        </h2>
      </div>
      <div class="row">
        <div class="col-12 text-lg-end text-sm-center text-md-end">
          <!-- <a
            href="#"
            class="btn m-2"
            style="background-color: purple; color: white;"
            >Download Android App</a
          > -->
          <a href="{% url 'products' %}" class="btn m-2"
            style="border-color: purple; background-color: purple;color: white;">Explore Our Best Products</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <img src="{% static 'base/images/carousel2.jpg' %}" width="100%" alt="" class="p-4" />
    </div>
  </div>
</section>

<!-- categories -->
<section>
  <div class="row p-5" style="align-items: center; justify-content: center; color:purple;">
    <h3 class="text-center text-uppercase" style="color: purple; font-size: 2rem">
      Categories
    </h3>

    {% for category in categories %}
    {% include 'products/category_card.html' with category=category %}
    {% endfor %}

  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a href="{% url 'categories' %}" class="btn w-20"
        style="font-size: 1.5rem; background-color: rgb(255, 100, 234); ">View All</a>
    </div>
  </div>
</section>

<div class="container">
  <hr />
</div>

<!-- products overview -->
<section class="container">
  <div class="row">
    <h3 class="text-uppercase" style="font-size: 2rem; color: purple; font-weight: 700;">
      TOP Products
    </h3>
  </div>
  <div class="row text-alight-center justify-content-center">
    {% for product in products %}
    {% include 'products/product_card.html' with product=product %}
    {% endfor %}

    <div class="row">
      <div class="col-12 text-center">
        <a href="{% url 'products' %}" class="btn w-50"
          style="font-size: 1.5rem; background-color: rgb(255, 100, 234); ">View More</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}