{% extends 'home/base.html'%}
{% load static%}
{% block content %}
<center>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price(NGN)</th>
                <th scope="col">Total Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                {% for j in item %}
                <td scope="row">{{j}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr class="bg-secondary text-light fs-3">
                <th scope="row">Total</th>
                <td>{{total_quantity}}</td>
                <td>{{total_price}}</td>
                <td>{{total_amount}}</td>
            </tr>
        </tbody>
    </table>


    <!-- <form id="paymentForm">
        <div class="form-group">
            <input type="email" hidden value="{{user_email}}" id="email-address" required />
        </div>
        <div class="form-group">
            <input type="tel" hidden value="{{total_amount}}" id="amount" required />
        </div>
        <div class="form-submit">
            
        </div>
    </form> -->
    <a href="{% url 'initialize_payment' %}" class="btn btn-primary"> Pay Now </a>
    <a href="/cart" class="btn btn-warning">Edit Cart</a>
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <!-- <script>
        var paymentForm = document.getElementById('paymentForm');
        function payWithPaystack() {
            var handler = PaystackPop.setup({
                key: 'pk_test_af46e2e0bf5d896a389260f26f99ec1b0498114b', // Replace with your public key
                email: document.getElementById('email-address').value,
                amount: document.getElementById('amount').value * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit
                currency: 'NGN', // Use GHS for Ghana Cedis or USD for US Dollars
                ref: document.getElementById('email-address'), // Replace with a reference you generated
                callback: function (response) {
                    //this happens after the payment is completed successfully
                    document.location = 'success/'
                    // Make an AJAX call to your server with the reference to verify the transaction
                },
                onClose: function () {
                    document.location = 'canceled/'
                },
            });
            handler.openIframe();
        }
        paymentForm.addEventListener('submit', payWithPaystack, false);


    </script> -->
</center>
{% endblock %}