{% extends 'home/base.html'%}
{% load static%}
{% block content %}
<center>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price(NGN)</th>
                <th scope="col">Total Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                {% for j in item %}
                <td scope="row">{{j}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr class="bg-secondary text-light fs-3">
                <th scope="row">Total</th>
                <td>{{total_quantity}}</td>
                <td>{{total_price}}</td>
                <td>{{total_amount}}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'initialize_payment' %}" class="btn btn-primary"> Pay Now </a>
    <a href="/cart" class="btn btn-warning">Edit Cart</a>  
</center>
{% endblock %}