{% block product_category %}
<div class="col-5 col-md-3 col-lg-2 m-1 text-center shadow">
    <a href="{% url 'filter_category' slug=category.slug %}">
        <img class="card-img-top" src="{{category.image.url}}" width="100%" alt="" />
    </a>
    <div class="card-body py-4 text-center">
        <a class="text-decoration-none" href="{% url 'filter_category' slug=category.slug %}">
            <h3>
                {{category.name}}
            </h3>
        </a>
    </div>
</div>
{% endblock %}