{% extends 'home/base.html'%}
{% load static%}
{% block content %}

<div class="row" style="width: 100%;">
    <div class="pl-4 col-10">
        {% for i in categories%}
        <div class="card" style="border-width: 1px; margin: 15px; border-color: indigo;">
            <div class="card-header" style="background-color: indigo;">
                <h5><a class="text-white text-capitalize" href="#">{{ i }}</a></h5>
            </div>
            <div class="card-body">
                <div id="products-grid">
                    {% for i in products %}
                    <div id="product-card" class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <img src="{% static 'products/images/tailor.jpg' %}" height="100" alt="" />
                                </div>
                                <div class="col-7">
                                    <p class="text-primary">Seller's Name</p>
                                    <div class="text-uppercase fw-3"><span class="text-dark text-capitalize">Name:
                                        </span>Item Name
                                    </div>
                                    <div class="text-danger"><span class="text-dark text-capitalize">price: </span> N50
                                    </div>
                                    <div class="text-danger"><span class="text-dark text-capitalize">Delivery in:
                                        </span>
                                        <span class="text-dark"> 3 days</span>
                                    </div>
                                    <p><span>Available: </span> 200</p>
                                    <p>Lorem ipsum dolor,oris, eius eaque accusantium est minima.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <form action="#" method="post">
                                        <label for="quentity">insert quentity:</label>
                                        <br />
                                        <input class="input-group" height="50px" type="number" name="quentity"
                                            id="quentity" />
                                    </form>
                                </div>
                                <div class="col-6">
                                    <br />
                                    <button class="btn btn-success">Add to Cart</button>
                                    <button class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <a style="width: 10%; margin: 10px;" class="justify-end btn btn-primary" href="#">More</a>
        </div>
        {% endfor %}

    </div>
    <div class="col-2">
        <div class="card py-3  mx-0 my-4">
            <div class="card-body">
                <strong>
                    <h5 class="text-uppercase">Filters</h5>
                </strong>
                <hr>
                <form action="#" class="form-group row">
                    <input type="text" class="col-10" placeholder="Search">
                    <input class="btn btn-primary col-2" type="submit" value="S">

                </form>
                <strong class="text-start">Gender:</strong>
                <ul>
                    <li><a href="/products">All</a></li>
                    <li><a href="/products/Male">Male</a></li>
                    <li><a href="/products/Female">Female</a></li>
                </ul>
                <strong class="text-start">Category:</strong>
                <ul>
                    <li><a href="/products">All</a></li>
                    <li><a href="/products/shirts">Shirt</a></li>
                    <li><a href="/products/Trousers">Trouser</a></li>
                    <li><a href="/products/Caps">Caps</a></li>
                    <li><a href="/products/Shoes">Shoes</a></li>
                </ul>
                <!-- <a class="btn btn-success" style="width: 150px;" href="#">Checkout</a>
                <br>
                <br>
                <a class="btn btn-danger" style="width: 150px;" href="#">Clear</a> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}