{% load humanize %}
<div style="width: 200px;" class="card text-center pb-4 bg-light m-1 mx-lg-auto">
    <!-- product card -->
    <img src="{{product.image.url}}" alt="product image" class="card-img-top" />

    <div class="card-body align-items-end">
        <div class="card-title">
            <a href="{% url 'products_details' id=product.id slug=product.slug %}" style="font-weight: 600;"
                class="text-decoration-none text-center text-dark fs-5 pt-2 text-uppercase">
                {{product.name}}
            </a>
        </div>

        <span>&#8358; {{product.price|intcomma}}</span>
        <br />

        {% if not product.available_quantity %}
        <p class="text-danger">
            Out of stock!
        </p>
        {% endif %}
    </div>
</div>