{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<div id="product-details">
    <!-- TODO set the image url to a template value -->
    <img id="product-details-image" style="padding-top: 20px; margin: 0;object-fit: fit;" src="{{image}}" alt="">
    <div id="details-info">
        <ul
            style="list-style: none;font-size: 18px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500; padding-top: 20px;">
            <li>
                <header
                    style="font-size: 30px; text-transform: uppercase; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600; color: indigo;">
                    {{name}}</header>
            </li>
            <hr>
            <li>
                Brand: <span>{{brand | upper}}</span>
            </li>

            <li>
                Color: <span>{{color}}</span>
            </li>
            <li>
                Price(NGN): <span>{{price }}</span>
            </li>
            <li>
                Available: <span>{{available_quantity}}</span>
            </li>
            <li>
                Sold: <span>{{quantity_sold}}</span>
            </li>
            <li>
                Delivery in: <span>{{delivery_days}} day(s)</span>
            </li>

            <form method="GET" action="/cart/">

                <input hidden type="text" value="{{id}}" name="id">
                <br>
                <div class="input-group" style="width: 250px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Quantity</span>
                    </div>
                    <input type="number" name="quantity" class="form-control" min=1 max={{available_quantity}} value=1>
                </div>
                <br>
                <div style="width: 250px;" class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Size</label>
                    </div>
                    <input type="text" disabled name="size" value="{{size}}" class="form-control" />
                </div>

                <br>
                <div style="text-align: center;">
                    <input type="submit" class="btn btn-primary" style="width: 50%; margin-bottom: 20px;"
                        value="Add to cart" />
                </div>
            </form>
            <br>
        </ul>
    </div>

    <!-- {% csrf_token %} -->

    <script>
        // handle increment of quantity

        $('#increment').click(function () {
            var v = $('#quantity').val();
            $('#quantity').val(parseInt(v) + 1);
        })

        // handle decrement of quantity
        $('#decrement').click(function () {
            var v = $('#quantity').val();
            if (parseInt(v) - 1 > 0) {
                $('#quantity').val(parseInt(v) - 1);
            } else {
                $('#quantity').val(parseInt(1));
            }

        })

    </script>
</div>
{% endblock content %}