{% extends 'home/base.html'%}
{% load static%}
{% block content %}
<h5
    style="width: 100%; background-color: blueviolet; padding: 10px; color: white; font-weight: 700; font-size: 22.0px;">
    Category
</h5>


<div id="products-grid">
    {% for product in products %}
    <!-- TODO set up url for product-image in the products listing page -->
    <div id="product-card" style="border-width: 3px;">
        <a href="{% url 'details' id=product.id  %}">
            <img src="{{product.image}}" style="width: 180px; height: 250px;" alt="" />
        </a>
        <div class="text-uppercase fw-3"><span class="text-dark text-capitalize">Name:
            </span>{{product.name}}
        </div>
        <div class="text-danger">
            <span class="text-dark text-capitalize">price: N{{product.price}}</span>
        </div>
        <div class="text-danger">
            <span class="text-dark"> Available Quantity: {{product.available_quantity}}</span>
        </div>
        <p><span>Quantity Sold: </span> {{product.quantity_sold}}</p>
    </div>
    {% endfor %}
</div>
<div style="font-size: 24px; text-align: end; margin: 20px ;" id="pagination">
    <ul style="list-style: none;">
        <li style=" display: inline;"><a class="link" href="#">1</a>
        </li>
        <li style=" display: inline;"><a class="link" href="#">2</a>
        </li>
        <li style=" display: inline;"><a class="link" href="#">3</a>
        </li>
        <li style=" display: inline;"><a class="link" href="#">4</a>
        </li>
    </ul>
</div>
{% endblock %}