{% extends 'base/base.html' %} {% load static %} {% block content %}
<section class="container mt-5 p-5">
  <div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6 p-sm-1 p-md-3 p-lg-2">
      <img
        id="product-details-image"
        height="500px"
        class="ps-5 pe-5 pt-3 pb-3"
        style="background-color: rgba(175, 175, 175, 0.2);"
        width="100%"
        src="{{ product.image.url }}"
        alt=""
      />
    </div>
    <div class="col-md-6 col-sm-12 col-lg-6 p-sm-1 p-md-3 p-lg-2">
      <div id="details-info" style="font-size: 18px;">
        <h2
          class="text-uppercase p-2"
          style="background-color: pink; font-weight: 700; color: purple;"
        >
          Product Info
        </h2>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-6 text-uppercase" style="font-weight: 700;">
                Name:
              </div>
              <div class="col-6 text-end text-capitalize">
                {{product.name}}
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-4">
                Description
              </div>
              <div class="col-8 text-end">
                {{product.description}}
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-6">
                Price(NGN):
              </div>
              <div class="col-6 text-end">
                {{product.price}}
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <div class="col-6">
                Size:
              </div>
              <div class="col-6 text-end">
                {{product.size}}
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <div class="col-6">
                Available Quantity:
              </div>
              <div class="col-6 text-end">
                {{product.available_quantity}}
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <div class="col-6">
                Delivery in:
              </div>
              <div class="col-6 text-end">
                {{product.delivery_days}}
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <form action="{% url 'products_cart' %}">
              <label for="quantity">Quantity:</label>
              <input
                type="number"
                name="quantity"
                id="quantity"
                class="rounded"
                value="1"
                max="{{ product.available_quantity }}"
                min="0"
                style="width: 100px;"
              />
              <input
                type="submit"
                class="btn btn-primary m-2"
                style="width: 150px;"
                value="Add To Cart"
              />
            </form>
          </li>
        </ul>

        <br />
      </div>
    </div>
  </div>
  <script>
    $('#add-quantity').click(function (e) {
      e.preventDefault()
      var quantity = $('#quantity').val()
      $('#quantity').val(quantity + 1)
    })
    $('#subtract-quantity').click(function (e) {
      e.preventDefault()
      var quantity = $('#quantity').val()
      $('#quantity').val(quantity - 1)
    })
  </script>
</section>
{% endblock content %}
