<div class="col-5 col-md-5 text-center shadow col-lg-2 mb-5 m-2">
    <!-- product card -->
    <a href="{% url 'products_details' slug=product.slug id=product.id %}" class="text-decoration-none text-uppercase">
        <img src="{{product.image.url}}" alt="product image" height="200px" width="100%" class="card-img-top" />
    </a>
    <div class="card-body align-items-end">
        <div class="col-12">
            <a href="{% url 'products_details' id=product.id slug=product.slug %}"
                class="text-decoration-none text-center pt-2 text-uppercase">
                <h3 style="font-size: 20px; color: purple; font-weight: 700;">
                    {{product.name}}
                </h3>
            </a>
        </div>

        <span>N {{product.price}}</span>
        <br />

        {% if not product.available_quantity %}
        <p class="text-danger">
            Out of stock!
        </p>
        {% endif %}
    </div>
</div>